<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <%- include('css') -%>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Book Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a href="#" class="navbar-brand">Library</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="" aria-current="page" href="getBooks" class="nav-link active">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">View Books</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" data-mdb-ripple-color="dark" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="container mb-5">
                    <h3 class="text-center" style="font-size: 30px; color:teal">Post New Book</h3>
                </div>
                <form method="POST" id="form" action="">
                    {cke_protected_1}
                    <div class="form-outline mb-4">
                        <input type="text" id="title" class="form-control" data-cke-saved-name="title" name="title" />
                        <label class="form-label" for="title">Book Title</label>
                    </div>
                    {cke_protected_2}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="author" class="form-control" data-cke-saved-name="author"/
                                    name="author" />
                                <label class="form-label" for="author">Author's Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="number" id="pagenumber" class="form-control"
                                    data-cke-saved-name="pagenumber"/ name="pagenumber" />
                                <label class="form-label" for="pagenumber">Page Number</label>
                            </div>
                        </div>
                    </div>
                     <div class="row mb-4">
                         <div class="col">
                             <div class="form-outline">
                                 <input type="text" id="genre" class="form-control" data-cke-saved-name="genre"/
                                     name="genre" />
                                 <label class="form-label" for="genre">Genre</label>
                             </div>
                         </div>
                         <div class="col">
                             <div class="form-outline">
                                 <input type="text" id="publisher" class="form-control" data-cke-saved-name="publisher"/
                                     name="publisher" />
                                 <label class="form-label" for="publisher">Publisher</label>
                             </div>
                         </div>
                     </div>
                     <div class="row mb-4">
                         <div class="col">
                             <div class="form-outline">
                                 <input type="date" id="datepublish" data-cke-saved-name="datepublish"
                                     name="datepublish" class="form-control" />
                                 <label class="form-label" for="datepublish">Date</label>
                             </div>
                         </div>
                     </div>
                     {cke_protected_3}
                     <div class="form-outline mb-4">
                         <textarea class="form-control" id="description" rows="4" name="description"></textarea>
                         <label class="form-label" for="description">Description</label>
                     </div>
                     {cke_protected_4}

                     <button type="submit" class="btn btn-primary btn-block mb-4" id="submitbtn"
                         style="width: 100%;">Add New Book</button>
                     </form>
                     </div>
                     <div class="col-md-3"></div>
                     </div>
                     </div>
                     {cke_protected_5}
                     {cke_protected_6}
                     <footer class="text-center text-white mt-5" style="background-color: #0a4275;">
                         {cke_protected_7}
                         <div class="container p-4 pb-0">
                             {cke_protected_8}
                             <section class="">
                                 <p class="d-flex justify-content-center align-items-center">
                                     <span class="me-3">Home of Knowledge</span>
                                     <button type="button" class="btn btn-outline-light btn-rounded">
                                         View More
                                     </button>
                                 </p>
                             </section>
                             {cke_protected_9}
                         </div>
                         {cke_protected_10}
                         {cke_protected_11}
                         <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                             © 2021 Copyright:
                             <a class="text-white" data-cke-saved-href="http:/"
                                 href="https://www.github.com/Inaboya">Visit my Github</a>
                         </div>
                         {cke_protected_12}
                         </footer>
</body>

</html>